@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Hi there  welcome to my website </p>

<div>

    <a href="https://www.linkedin.com/in/zih-chien-sun-3a226770"> link to my Linkedin file</a>




</div>