@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Phone">438-872-6247</abbr>
 
</address>

<address>
    <strong>Contact by Mail</strong>  <a href="mailto:@ViewBag.Mail">Mail Me</a><br />
    
</address>