<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--Utility API Token-->
  <add key="ApiKey" value="1134669417" />
  <add key="ApiSecrect" value="2010499832" />
  <add key="GetToken_APIUrl" value="https://ulionexapi.api.liontravel.com/api/V2/Token" />
  <!--共用API的Domain-->
  <add key="CsApiDomain" value="https://ucs.api.liontravel.com/v2"/>
  <add key="CmsApiDomain" value="https://cms.api.liontravel.com/api"/>
  <add key="TktApiDomain" value="https://utkt.api.liontravel.com/V2"/>
  <add key="GdsApiDomain" value="https://ugds.api.liontravel.com/api/V2"/>
  <!--Member站台Domain-->
  <add key="MemberDomain" value="https://umember.liontravel.com"/>
  <!--<add key="SendMailUrl_Testu" value="https://umember.liontravel.com/Account/CheckVerifyCodeFromEmail?" />-->
  <!--<add key="SendMailUrl" value="https://member.liontravel.com/Account/CheckVerifyCodeFromEmail?" />-->
  <!--<add key="StoreRegisteru" value="https://uwww.liontravel.com/" />-->
  <!-- CrossDomain用，不可移除 -->
  <add key="RDomain" value=".liontravel.com" />
  <add key="CorsWebsite" value="uwww.liontravel.com" />
  <!-- 共用Session設定：IIS主專案（應用程式）路徑 -->
  <!--<add key="IISApplicationPath" value="/LM/W3SVC/8888/ROOT" />-->
  <!-- 雄旅網測試機Domain -->
  <add key="LionTravelDomain" value="https://uwww.liontravel.com"/>
  <!--<add key="ULionTravelDomain" value="https://uwww.liontravel.com"/>-->
  <add key="MoblieLionTravelDomain" value="https://um.liontravel.com"/>
  <!-- 1.5代的參數-->
  <add key="WebCode" value="B2C" />
  <add key="Web_Member" value="LION" />
  <add key="Web_Country" value="TW" />
  <add key="Web_City" value="" />
  <add key="Web_Lang" value="zh_tw"/>
</appSettings>
