<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>
  <!-- TODO: Replace the ****'s with the correct entries --> 
  <add name="elmah-sqlserver" connectionString="Data Source=dba-usys;Initial Catalog=WebErrorLog;Persist Security Info=True;User ID=weberrorlog;Password=weberrorlog;Application Name=LionTravelWebForm;" providerName="System.Data.SqlClient" />
  <add name="MongoDB" connectionString="mongodb://lionweb:lionweb295@10.1.1.132:27017/LionWeb"/>
</connectionStrings>
